@charset "utf-8";

/*--- 線から塗り（共通設定） ---*/

.line {
    /*線の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    outline: none;
    /*アニメーションの指定*/
    transition: all .3s;
    transition-delay: .7s;
    /*0.7秒遅れてアニメーション*/
}

/*hoverした際の、ボタンの背景とテキスト色の変更*/
.line:hover {
    background: rgba(216, 191, 216, 0.3);
    color: #444;
}

/*横線の設定*/
.line::before,
.line::after {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width: 0;
    height: 1px;
    background: #333;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}

/*縦線の設定*/
.line p::before,
.line p::after {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width: 1px;
    height: 0;
    background: #333;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}

/*hoverした際、線が縦横100%伸びる*/
.line:hover::before,
.line:hover::after {
    width: 100%;
}

.line:hover p::before,
.line:hover p::after {
    height: 100%;
}

/*== 左上と右下から枠線が伸びて塗りに */

/*右下から右上へ伸びる横線*/
.bordercircle::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

/*右下から右上へ伸びる縦線*/
.bordercircle p::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

/*左上から右上へ伸びる横線*/
.bordercircle::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

/*左上から左下へ伸びる横線*/
.bordercircle p::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}