@charset "utf-8";

body {
    //background-color: #9933CC;
    background-image: url("http://katus-gifani.sakura.ne.jp/img/kabe34.gif");
    font-family: "MS Gothic";
    text-align: center;
}

table td {
    border: 1px solid black;
    padding: 10px 10px;
    background-color: #fff;
}

//デフォルト値はmargin-block-start: 1em;
ul {
    margin-block-start: 0em;
}

/* *********** パンくずリスト *************** */
/* breadcrumbの個別設定 */
.breadcrumb_style {
    background: #996699;
}

/* *********** 見出し *************** */
/* titleの個別設定 */
.title_style {
    background: #9966FF;
}

/* *********** main *************** */

.admin_name {
    width: 60%;
    height: auto;
    margin: auto;
    padding: 20px 0;
}

.admin_history_wrap {
    padding: 20px 0;
}

.admin_history_wrap li {
    list-style: disc;
    height: auto;
    margin: auto;
}

/*ここだけmax-width: 1024pxではないので注意！*/
@media screen and (max-width: 768px) {

    /* 768pxまでの幅の場合に適応される */       
    .admin_image {
	width: 80%;
    }
    .admin_table_wrap table {
        width: 100%;
    }

}