@charset "utf-8";

body {
  //background-color: #CCFFFF;
  background-image: url("http://katus-gifani.sakura.ne.jp/img/kabe68.gif");
  font-family: "MS Gothic";
  text-align: center;
}



/* *********** パンくずリスト *************** */
/* breadcrumbの個別設定 */
.breadcrumb_style {
  background: #99FFFF;
}

/* *********** 見出し *************** */
/* titleの個別設定 */
.title_style {
  background: #66FFFF;
}