@charset "utf-8";

body {
  //background-color: #FF3300;
  background-image: url("../../image/2089429.png");
  font-family: "MS Gothic";
  text-align: center;

}


table {
  margin: auto;
}



/* *********** top *************** */
.title_marquee {
  border: 4mm ridge rgba(211, 220, 50, .6);
  font-size: 4rem;

}

.subtitle_marquee {
  font-size: 2rem;
}

/* marqueeの共通設定 */
.marquee_style {
  width: 60%;
  height: auto;
}

.counter_table {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {

  /* 768pxまでの幅の場合に適応される */
  .marquee_style {
    width: 100%;
  }

  .counter_table {
    font-size: 1.0rem;
  }
}

/* *********** header *************** */
header {
  width: 60%;
  height: auto;
  margin: auto;

}

@media screen and (max-width: 1024px) {

  /* 768pxまでの幅の場合に適応される */
  header {
    width: 100%;
  }
}

/* navとlist and hover共通設定 */
ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;

}

ul li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

a {
  color: #000;
}

.navigation_style {
  padding: 30px 0;

}

.navigation_style ul {
  display: flex;
  justify-content: center;

}

.nav_red {
  background: #ff66ff;
}

.nav_ore {
  background: #ff7f00;
}

.nav_yell {
  background: #ffff1a;
}

.nav_gree {
  background: #66ff66;
}

/* navの共通設定 */
.nav_setting {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nav_setting a {
  text-decoration: none;
  color: blue;
  font-size: 1rem;
}

a:hover {
  opacity: 0.5;
  color: white;
}

@media screen and (max-width: 1024px) {

  /* 768pxまでの幅の場合に適応される */
  .navigation_style a {
    font-size: 0.9rem;
  }
}


/* *********** パンくずリスト *************** */
/* breadcrumbの共通設定 */
.breadcrumb {
  margin: 0;
  padding: 1em;
  list-style: none;
  overflow: hidden;
}

.breadcrumb li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
  font-weight: bold;
  /*太字*/
}

.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #8e8270;
  float: left;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #000;
}

.breadcrumb li span {
  float: left;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/* *********** 見出し *************** */
/* titleの共通設定 */
.title {
  padding: 0.5em 0 0.5em 0.5em;
  text-align: left;
}

/* clearfixいらなかった
.clearfix::after {
content: "";
display: block;
clear: both;
}*/

/* *********** main *************** */
/* *********** 最新情報 *************** */

/* sectionのpadding共通設定 */
.section_style {
  padding: 30px 0;
}

.topics_inner {
  position: relative;
}

.topics_inner li:nth-of-type(1) a:after {
  content: "NEW!";
  position: absolute;
  top: 0;
  left: 35%;
  font-size: 12px;
  color: #fff;
}

/* *********** footer *************** */
.footer_nav ul {
  padding: 30px 0;
}

.footer_nav ul li {
  border-right: 1px solid #ddd;

}

.footer_nav ul li a {
  padding: 30px 0;
  margin-right: 20px;
  font-size: 1rem;
}

.footer_nav :last-child li {
  border-right: 0px;
}

@media screen and (max-width: 1024px) {

  /* 768pxまでの幅の場合に適応される */
  .footer_nav ul {
    padding: 0;
    width: 100%;
  }

  .footer_nav ul li {
    border-right: 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;

  }

  .footer_nav ul li a {
    text-decoration: none;
  }

}

/* *********** main.cssと共通 *************** */
.footerlogo {
  width: 200px;
  margin: 0 auto 25px;
}

.footerlogo img {
  width: 50%;
  margin: auto;
}

small {
  color: #000;
  display: block;
  text-align: center;
}