@charset "utf-8";

body {
  text-align: center;
  background-color: #333333;
}

h3 {
  position: absolute;
  top: 10%;
  left: 40%;
  color: #FFB6C1;
  transform: rotate(-10deg);
  font-size: 1.5rem;
}

.decoration h2 {
  padding-top: 40px;
  font-size: 3rem;

}


a {
  text-decoration: none;
}

button {
  border: 2px;
  border-radius: 5px;
  cursor: pointer;

}


button:hover {
  //background-color: #be9c6d;
  //color: #fff;

}

.decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  text-transform: uppercase;

}

/*========= neon decoration ===============*/

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;

  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/*========= /neon decoration ===============*/


.sub_title {
  position: absolute;
  top: 70%;
  font-size: 1.3rem;

}

.contents {}

#canvas {
  box-shadow: inset 0 50px 50px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #444444;
}

.button_wrapper {
  padding: 20px 0;

}

.start_button {
  padding: 10px 20px;
  margin-right: 20px;
  //color: #be9c6d;
  //transition: 0.5s;

}

.stop_button {
  padding: 10px 20px;
  //color: #be9c6d;
  //transition: 0.5s;

}

.btn_deco {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
  animation: pulsate 1.5s infinite alternate;
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}


.link_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flicker 1.0s infinite alternate;
}

.debug_layout {
  padding: 20px 20px 20px 0;
  font-size: 2rem;
  color: #fff;
}


.info {
  padding: 20px 0;
  font-size: 1.3rem;
  align-items: center;
  margin-top: 5px;
  color: #FFB6C1;
}



/*========= メディアクエリ ===============*/

@media screen and (max-width:1024px) {

  h3 {
    position: absolute;
    left: 30%;
  }

  h2 {
    padding-top: 10%;
  }


  canvas {
    width: 500px;
    height: 500px;

  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    width: 60%;

  }

  .sub_title {
    top: 80%;

  }

  .button_wrapper {
    padding: 20px 0;

  }

  .start_button {
    margin-right: -20px;
    margin-left: auto;
    margin-right: auto;
  }

  .stop_button {
    margin-left: auto;
    margin-right: auto;
  }

}

/*========= /メディアクエリ ===============*/
/*========= hide-area のCSS ===============*/

.hide-area {}

.hide-area_img {
  width: 100%;
}

.hide-area_text {
  font-size: 1.3rem;
}

/*========= /hide-area のCSS ===============*/
/*========= buttom decoration ===============*/

@keyframes pulsate {

  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;

  }

  0% {

    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;

  }

  /*========= /buttom decoration ===============*/